<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>8192297481-sfe3mbpq8ne81mrgqbdb16c0ltkeg7ac.apps.googleusercontent.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>om.googleusercontent.apps.8192297481-sfe3mbpq8ne81mrgqbdb16c0ltkeg7ac</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
